.container{
  
    height:100%;

  width:100%;
  align-items: center;

  
  background-image: linear-gradient(to bottom right, rgb(104, 232, 196), rgb(229, 27, 131));
  
 
}
 @media screen and (max-width: 600px){

    .container{
        width:600px;
    }
   /* .pokemonDetails{
        border:1px solid rgb(219, 54, 153);
    width:30vw;
    height:500px;
    background-color: rgb(237, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   } */
    .columnTD{
        gap:0px;

    }
    
.paraApi{
    border: 2px solid rgb(95, 95, 95);
    margin: 5px 5px ;
    background-color: rgb(151, 243, 243);
    color:rgb(236, 61, 139);
    border-radius: 8px;
    padding:2px 15px;

}
.h3D{
    color: rgb(229, 29, 159);
    font-weight: 500;
    font-size: 10px;
}
.imgD{
    border:1px solid rgb(222, 38, 109);
    border-radius: 30px;
   width:30px;
    height: 30px;
    background-color: rgb(241, 136, 187);
    
    
}
 }

 /* @media screen and (max-width: 400px){
    .imgD{
    border:1px solid rgb(222, 38, 109);
    border-radius: 30px;
    width:30px;
    height: 30px;
    background-color: rgb(241, 136, 187);
    

    
} */

 /* } */

/* @media screen and (max-width: 780px){
    .container{
    
    height:100%;

  width:1500px;
  align-items: center;}

  .tableApi{
    width:800px;
  }
   

}

@media screen and (max-width: 480px){
    .container{
    
    height:100%;

  width:1200px;
  align-items: center;
  gap:20px;

}

  .tableApi{
    width:600px;
    
  }
   
  .columnTD{

    width:500px
  }

} */

.th1{
padding:10px;
border:1px solid grey;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap:20px;


}
.th2{
padding:10px;
border:1px solid grey;

}


.tableApi{

width:60vw;
/* width:90%; */
margin-left: 0px;

border-collapse: collapse;
margin-top: 0px;


  background-image: linear-gradient(to bottom right, rgb(59, 249, 201), rgb(205, 65, 138));
  color:rgb(201, 33, 125);
}

.h2D{
    
    text-align: center;
    
    word-wrap: break-word; 
  overflow-wrap: break-word; 
  background-image: linear-gradient(to bottom right, rgb(220, 59, 249), rgb(228, 120, 175));
    color: transparent;
    background-clip:text;
    font-weight:900;
    font-size: xx-large;
    
   

}
.tdD{
    padding: 10px;
    border:1px solid grey;
    cursor: pointer ;
    text-align: center;
    font-size: 20px;
    
    word-wrap: break-word;

 
}
    tr:nth-child(2n){
        background-color: rgb(216, 244, 235);
  
}
th{
  
      background-image: linear-gradient(to bottom right, rgb(220, 59, 249), rgb(228, 120, 175));

    color: rgb(6, 230, 140);
}
   



tr:hover{
    background-color: rgb(244, 212, 236);
    color:rgb(5, 154, 254)

}
.para{
    align-items: center;
    
    font-size: xx-large;
    width: 1000px;
    background-image: linear-gradient(rgb(245, 225, 130), rgb(250, 43, 43));
    color: transparent;
    background-clip:text;
    font-weight: 900;
    

}

.SearchBar{

    border: 2px solid rgb(187, 43, 136);
    width:300px;
    height:40px;
    padding-left: 10px;
    color:rgb(226, 43, 110);
    border-radius: 15px;
    font-size: larger;
    background-image: linear-gradient( to bottom right, rgb(151, 231, 198), rgb(209, 126, 186));
     font-weight: 900;
    font-style: italic;


}

.columnTD{
    
     

     display: flex;
     flex-direction: row;
     gap:20px;
    
     align-items: top;
     margin-top: 50px;
     width:100%;
     justify-content: center;

     

}

.pokemonDetails{
    border:1px solid rgb(219, 54, 153);
    width:20vw;
    height:500px;
    background-color: rgb(237, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.pokemonDetails:hover{

    background-color: rgb(196, 246, 230);
    color: rgb(76, 76, 230);
}

.paraApi{
    border: 2px solid rgb(95, 95, 95);
    margin: 15px 10px ;
    background-color: rgb(151, 243, 243);
    color:rgb(236, 61, 139);
    border-radius: 8px;
    padding:2px 15px;

}
.h3D{
    color: rgb(229, 29, 159);
    font-weight: 900;
    font-size: 20px;
}
.imgD{
    border:1px solid rgb(222, 38, 109);
    border-radius: 60px;
    width:120px;
    height: 120px;
    background-color: rgb(241, 136, 187);
    
    
}

.tableButton{
    display:flex;
    flex-direction: column;
}

.paginationBtn{
   
    width:200px;
    height:40px;

     background-image: linear-gradient( to bottom right, rgb(66, 243, 169), rgb(235, 24, 175));
    border-radius: 10px;
    margin-right: 10px;
    color:rgb(248, 219, 225);
    border:1px solid rgb(235, 178, 203);
    font-weight: 900;
    font-style: italic;

    
}



.sortImg{
    width:30px;
    height:30px;
   

}

.sortWordImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-image: linear-gradient(to bottom right, rgb(213, 111, 231), rgb(237, 77, 160));
border-radius: 10px;
border:1px solid rgb(244, 212, 235);
width:80px;
height: 30px;


}
.sortbtn{
border:none;
background-color: transparent;
 font-size: medium;
    font-weight: 900;
    color: rgb(239, 203, 229);

}
